{% extends 'base.html' %}



{% block content %}
{% if user.is_anonymous %}
<form method="post" action="{% url 'account:register' %}">


    {% csrf_token %}

    <h1>Создать аккаунт</h1>
    <label for="inputEmail">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email"
           value="" required="" autofocus="" data-cip-id="inputEmail">
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" placeholder="Пароль"
           name="password" required="" data-cip-id="inputPassword">
    <input type="password" id="inputPassword" placeholder="Повторите пароль"
           name="password2" required="" data-cip-id="inputPassword">

    <button class="btn" type="submit">Создать</button>
</form>
{% else %}
<p class="text-success">{{ user|upper}}, Вы уже зарегистрированы. <br> <a href="{{ '/' }}">Перейти на главную</a></p>
{% endif %}
<p class="mt-5 mb-3 text-muted">Apple Store</p>

{% endblock %}
