{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}



{% block content %}
{% if user.is_anonymous %}
<div class="row">
    <div class="col-md-8 mx-auto mt-5">
<div class=" list-group-item ">
<form method="post" action="{% url 'account:registration' %}">


    {% csrf_token %}

    <h2>Регистрация</h2>
    <table><tr>
    <td><label for="inputEmail">Email:</label></td>
    <td colspan="3"><input type="email" id="inputEmail" class="form-control col-6" placeholder="Email" name="email"
           value="" required="" autofocus="" data-cip-id="inputEmail"></td></tr>
    <tr><td><label for="inputPassword">Пароль</label></td>
    <td><input type="password" id="inputPassword" placeholder="Пароль"
           name="password" required="" data-cip-id="inputPassword"></td>
    <td><input type="password" id="inputPassword" placeholder="Повторите пароль"
           name="password2" required="" data-cip-id="inputPassword"></td></tr>

    <tr><td><button class="btn" type="submit">Создать</button></td></tr>
    </table>
</form>
    </div>
        </div>
    </div>
{% else %}
<p class="text-success">{{ user|upper}}, Вы уже зарегистрированы. <br> <a href="{{ '/' }}">Перейти на главную</a></p>
{% endif %}


{% endblock %}
