{% extends 'base.html' %}




{% block content %}
<h1> Магазин техники Apple</h1>
<p>Добро пожаловать в <em>Apple Store</em>, тут вы можете найти необходимый вам телефон или многое другое...</p>
<form action="{% url 'search:index' %}" class="navbar-form navbar-left" method="get">
    <div class="input-group">
        <input id="search" name="q" type="text" class="form-control" placeholder="Поиск">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
        </span>
    </div>
</form>
<p>Введите в строке поиска интересующую модель, или цвет и т.д (Пример: Iphone, 64gb, Space Gray)</p>
<h5>Мы предлагаем:</h5>
<ul>

    <li><strong>Качественную технику </strong> </li>
    <li><strong>Гарантию 1 год </strong> </li>
    <li><strong>Бесплатная доставка </strong> </li>
    <li><strong>Замену старой техники на новую </strong> </li>
</ul>

{% endblock %}