{% extends "base.html" %}
{% block content %}


  <h1 class="text-center mt-5 mb-3 text-muted">Оставьте заявку</h1>
  <div class="container text-center">
    <div id="form_container form-actions form-group">
      <form method="post">
        {% csrf_token %}
        <div class="row"><div class="col"></div><div class="col" {{ form.as_p }}</div><div class="col"></div></div>

        <div class="row ">
          <div class="col"></div>
          <div class="col">
          <button type="submit" class="form-control btn btn-success">Отправить</button>
          </div>
          <div class="col"></div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}