{% extends 'catalog/catalog.html' %}
{% block title %} {{ product.title }} {% endblock %}
{% load catalog_extras %}
{% block catalog %}
<div class="container">
<h1>{{product.title}} </h1>
<img src="{{ product.image.url }}" width="120">
<div class="price">{{ product.price }} руб.</div>
  <p><strong>Категория: </strong>{{ product.category }}</p>
  <p><strong>Диагональ: </strong>{{ product.display }}</p>
  <p><strong>Цвет: </strong>{{ product.color }}</p>
  <p><strong>Память: </strong>{{ product.memory }}</p>
  <p><strong>Описание: </strong>{{ product.description }}</p>
   {% include 'add_to_cart.html' %}
</form>
<hr>
    {% for reviews in product.reviews.get_queryset%}
        <p>{{ reviews.rating|view_rating }}</p>
        <span>{{ reviews.name }}</span>
    <p> {{ reviews.review }}</p>
        <hr>
    {% endfor %}
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h4>Оставьте отзыв:</h4>
            <form action="{{ product.get_absolute_url }}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Ваше имя:</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="content">Ваш отзыв:</label>
                    {{ form.review }}
                </div>
                {% for raiting in form.rating %}
                    {{ raiting }}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Оставить</button>
            </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}
